<%-include('include/header')%>
    <style>
        .box-container {
            margin: 7rem 0 0 15rem;
            max-width: 55vw;
            min-height: 60vh;
            background-color: #fff;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
        }

        form {
            align-self: flex-start;
        }
    </style>
    <main class="box-container">
        <div class="container p-5">
            <form action="/patientPage/record/updateForm" method="POST" autocomplete="off">
                <input type="hidden" name="_id" value="<%=member._id%>">
                <div class="form-group">
                    <label>Member's Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter member's name" value="<%=member.name%>">
                    <div class="text-danger">
                        <%=member.nameError%></div>
                </div>
                <div class="form-group">
                    <label>Add Symptoms if Any</label>
                    <input type="text" class="form-control" name="symptoms" placeholder="Filled NA if not" value="<%=member.symptoms%>">
                    <!-- <div class="text-danger">
                        {{member.emailError}}</div> -->
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Enter Age</label>
                        <input type="number" class="form-control" name="age" placeholder="Enter age" value="<%=member.age%>">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Gender</label>
                        <select class="form-select" name="gender">
                            <option selected>Choose an option</option>
                            <option value="Male" <%=member.gender == 'Male'?'selected':''%>>Male</option>
                            <option value="Female" <%=member.gender == 'Female'?'selected':''%>>Female</option>
                            <option value="Others" <%=member.gender == 'Others'?'selected':''%>>Others</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Relation</label>
                        <select class="form-select" name="relation">
                            <option selected>Choose an option</option>
                            <option value="Self" <%=member.relation == 'Self'?'selected':''%>>Self</option>
                            <option value="Mother" <%=member.relation == 'Mother'?'selected':''%>>Mother</option>
                            <option value="Wife" <%=member.relation == 'Wife'?'selected':''%>>Wife</option>
                            <option value="Sister" <%=member.relation == 'Sister'?'selected':''%>>Sister</option>
                            <option value="Son" <%=member.relation == 'Son'?'selected':''%>>Son</option>
                            <option value="Grandmother" <%=member.relation == 'Grandmother'?'selected':''%>>Grandmother</option>
                            <option value="Others" <%=member.relation == 'Others'?'selected':''%>>Others</option>
                        </select>
                    </div>
                </div>
                <label for="recordType" class="col-form-label">Type of Record</label>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" name="recordType" value="report" onclick="onlyOne(this)" <%=member.recordType=="report"?'checked':''%>>
                    <label for="status" class="form-check-label">Report</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" name="recordType" value="prescription" onclick="onlyOne(this)" <%=member.recordType=="prescription"?'checked':''%>>
                    <label for="status" class="form-check-label">Prescription</label>
                </div>
                <input type="file" class="admin__input" id="myFile" name="myFile" value=""/>
                <div class="form-group">
                    <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button>
                    <a class="btn btn-secondary" href="/patientPage/record"><i class="fa fa-list-alt"></i>View All</a>
                </div>
            </form>
        </div>
    </main>
    <script>
        function onlyOne(checkbox) {
        var checkboxes = document.getElementsByName('recordType')
        checkboxes.forEach((item) => {
        if (item !== checkbox) item.checked = false
    })
}
    </script>
    </body>

    </html>